/* @ */
@media screen {
 body {margin: 1.5em auto}
 iframe {width: 560px; height: 315px}
}
@media all and (max-width: 800px) {
 body {margin: 0em auto}
 iframe {}
}

/* plain */
html {}
body {font-family: "Arial",sans-serif}
body {font-size: 10pt}
body {line-height: 1.35em}
body {max-width: 45em}
body {color: #000}
a {color: #333}
a:visited {color: #333}
h1 {color: #734A12}
h1 {font-family: "Arial Narrow",sans-serif}
h1 {font-size: 2.75em}
h1 {font-weight: bold}
h1 {text-align: left}
h1 {margin: 0.25em 0.15em}
h2 {font-size: 1.1em}
h2 {clear: both}
h3 {font-size: 1em}
h3 {margin: 0 0 -1em 0}
p {}
hr {height: 1px}
hr {border: 0}
hr {color: #2F4F4F}
hr {background-color: #2F4F4F}
/*hr {clear: both}*/
nav {text-align: right}
nav {font-weight: normal}
nav {margin: 1em 0em}
nav a.not-here:hover {background-image: url('../data/image/ground/grass.jpg')}
nav a:hover {color: #fff}
footer {font-size: 75%}
footer {margin: 0em}
footer {text-align: right}
footer {clear: both}
img {display: block}
img {margin: 0em auto}
img {max-width: 100%}
img {height: auto}

/*classes*/

.bg {position: fixed}
.bg {z-index: -1}
.bg {top: 0}
.bg {left: 0}
.bg {width: 100%}
.bg {height: 100%}

#image.bg {background-image: url('../data/image/ground/sequins.jpg')}
#image.bg {opacity: 0.65}

#noise.bg {background-image: url('../data/image/ground/noise.gif')}
#noise.bg {opacity: 0.50}

.main {display: block}
.main {position: relative}
.main {background-color:#fff} /* cancelled below if CSS3 */
.main {background-color:rgba(255,255,255,0.65)}
.main {padding: 1em}
.main {min-height: 20em}

.content {clear: both}

.lucie-thorne {float: left}

.menu ul li {list-style-type: none}
.menu a {text-decoration: none}
.menu a {font-weight: bold}
.menu a {font-size: 1.15em}
.menu a.here {color: #666}

a.h1 {text-decoration: none}

.contact code {font-family: "Arial",sans-serif}

/***** albums (overview page) *****/
.albums p {clear: both}
.albums div.content img {float: left}
.albums div.content img {margin: 0px 50px 15px 0px}
.albums div div p {margin: 15px 0px 15px 0px}

/* yt */
iframe {}
div.yt-entry {clear: both;margin-bottom: 50px}
div.yt-img {float: left}
div.yt-img a img {padding-right: 1em}

/* social */
div.social {text-align: left; margin-left: 4em}
div.social img {display: inline; padding-right: 1em}

/***** forms *****/
table {font-size: 100%} /* IE */
th {text-align: right}
th {font-weight: normal}
td {}

textarea, input {
 background-color: transparent;
 font-size: 100%;
 border-width: 1px;
 border-style: dotted;
 border-color: #2F4F4F;
}

input {
 background-color: transparent;
 border-width: 1px;
 border-style: dotted;
 border-color: #2F4F4F;
 color: #2F4F4F; /* #fefced */
}
